body {
    width: 100%;
    overflow-x: hidden;
    background: #5cb8d6;
    color: #444444;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 18px;
}

header,
section,
footer {
    width: 1024px;
    margin: 0 auto;
}

section {
    margin-top: 50px;
    margin-bottom: 50px;
}

a {
    text-decoration: none;
    color: #444444;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

hr {
    background-color: #444444;
    border-color: #444444;
}

.bold {
    font-weight: bold;
}

.text-bigger {
    font-size: 1.25em;
}

.basic-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.basic-info_photo {
    grid-column: 1 / 2;
}

.basic-info_photo {
    margin: 0 auto;
}

.basic-info_photo img {
    border-radius: 50%;
}

.basic-info_name {
    grid-column: 2 / 3;
}

.summary {
    text-align: justify;
}